<h1>new data stream callback</h1>

<p><%= message %></p>

<% if (existing_stream) { %>
<font color="red">Pozor!</font><ul>
<li>
  Tvoj korisnik vec ima stream podataka na provideru
  <%= existing_stream.provider %>.<br/>
  Ime: <%= existing_stream.stream_name %><br/>
  Latest weight: <%= existing_stream.latest_weight %><br/>
  Promjena je razumna u slucaju:
  <ul>
    <li>reaktivacije izgubljenog tokena</li>
    <li>mijenjanje korisnika na provideru</li>
    <li>mijenjanje providera podataka</li>
  </ul>
  </li>
</ul>
<% } %>

<div style="
  padding-left: 30px;
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
">

<% if (!(has_googlefit && has_fitbit && has_snapscale)) { %>
  <% if (has_fitbit || has_googlefit || has_snapscale) { %>
    <p>Logiraj se s jednim od {fitbit, googleFit, SnapScale}.<p>
  <% } else { %>
    <p>Za nastaviti, logiraj se s jednim od {fitbit, googleFit, SnapScale}.<p>
  <% } %>
<% } %>

<% if (!has_googlefit) { %>
  <a href="/googlefit/init/">login with google fit</a><br/>
<% } %>

<% if (!has_fitbit) { %>
  <a href="/fitbit/init/">login with fitbit</a><br/>
<% } %>

<% if (!has_snapscale) { %>
  <form action="/snapscale/callback" method="get">
    <label>
      Login with SnapScale CSV link:
      <input name="snapscale_csv_url" type="text" />
    </label>
    <input type="submit" value="Login with snapscale!" />
  </form>
<% } %>

</div>

<% if (has_fitbit || has_googlefit || has_snapscale) { %>
  <br/>
  <form action="/new_stream/submit" method="post">
    Potvrdi da zelis preuzeti podatke:
    <% if (has_fitbit) { %>
    <label for="fitbit">
      <p>
        <input type="radio" name="provider" id="fitbit" value="fitbit">
        Fitbit
      </p>
    </label>
    <% } %>

    <% if (has_googlefit) { %>
    <label for="googlefit">
      <p>
        <input type="radio" name="provider" id="googlefit" value="googlefit">
        GoogleFit
      </p>
    </label>
    <% } %>

    <% if (has_snapscale) { %>
    <label for="snapscale">
      <p>
        <input type="radio" name="provider" id="snapscale" value="snapscale">
        SnapScale
      </p>
    </label>
    <% } %>

    <% if (!existing_stream) { %>
      <label>
        Daj nadimak tvojim dionicama. Obicno koristimo kod od 4 velika slova (npr GOOG), a ne svoje ime.<br/>
        <input name="name" type="text" />
      </label>
    <% } else { %>
      <label>
        Napomena: mijenjas svoj postojeci stream.
        <input name="name"
            type="hidden"
            value="<%=existing_stream.stream_name%>"/>
      </label>
    <% } %>

    </br></br>
    <input type="submit" value="submit" />
  </form>
<% } %>

